[submodule "models/CUT3R"]
	path = models/CUT3R
	url = https://github.com/CUT3R/CUT3R.git
[submodule "models/FastVGGT"]
	path = models/FastVGGT
	url = https://github.com/mystorm16/FastVGGT.git
[submodule "models/Pi3"]
	path = models/Pi3
	url = https://github.com/yyfz/Pi3.git
[submodule "models/StreamVGGT"]
	path = models/StreamVGGT
	url = https://github.com/wzzheng/StreamVGGT.git
[submodule "models/VGGT-SLAM"]
	path = models/VGGT-SLAM
	url = https://github.com/MIT-SPARK/VGGT-SLAM.git
[submodule "models/WinT3R"]
	path = models/WinT3R
	url = https://github.com/LiZizun/WinT3R.git
[submodule "models/4DGaussians"]
	path = models/4DGaussians
	url = https://github.com/hustvl/4DGaussians.git
[submodule "models/Easi3R"]
	path = models/Easi3R
	url = https://github.com/Inception3D/Easi3R.git
[submodule "models/fast3r"]
	path = models/fast3r
	url = https://github.com/facebookresearch/fast3r.git
[submodule "models/mast3r"]
	path = models/mast3r
	url = https://github.com/naver/mast3r.git
[submodule "models/mip-splatting"]
	path = models/mip-splatting
	url = https://github.com/autonomousvision/mip-splatting.git
[submodule "models/MoGe"]
	path = models/MoGe
	url = https://github.com/microsoft/MoGe.git
[submodule "models/monst3r"]
	path = models/monst3r
	url = https://github.com/Junyi42/monst3r.git
[submodule "models/must3r"]
	path = models/must3r
	url = https://github.com/naver/must3r.git
[submodule "models/splatt3r"]
	path = models/splatt3r
	url = https://github.com/btsmart/splatt3r.git
[submodule "models/UniK3D"]
	path = models/UniK3D
	url = https://github.com/lpiccinelli-eth/UniK3D.git
[submodule "models/vggsfm"]
	path = models/vggsfm
	url = https://github.com/facebookresearch/vggsfm.git
[submodule "models/vggt"]
	path = models/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "models/dust3r"]
	path = models/dust3r
	url = https://github.com/naver/dust3r.git
[submodule "models/gaussian-splatting"]
	path = models/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "models/nerfstudio"]
	path = models/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
